<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cp.tms.dto.ReviewDto">

<insert id="writeReveiw" parameterType="revDto">
	INSERT INTO REVIEWBOARD(PLACE_SEQ, UUID_NAME, ORIGIN_NAME, IMG_URL,REVIEW_TITLE)
	VALUES(#{place_seq}, #{uuid_name}, #{origin_name}, #{img_url},#{review_title})
</insert>

<update id="modifyReview" parameterType="revDto">
	UPDATE REVIEWBOARD
	SET UUID_NAME=#{uuid_name} , ORIGIN_NAME=#{origin_name}, IMG_URL=#{img_url}, REVIEW_TITLE=#{review_title}, CONTENT=#{content}
	WHERE PLACE_SEQ=#{place_seq}
</update>

<update id="deleteReview" parameterType="java.lang.String">
	UPDATE TOGETHER.REVIEWBOARD
	SET UUID_NAME=NULL , ORIGIN_NAME=NULL, IMG_URL=NULL, REVIEW_TITLE=NULL, CONTENT=NULL 
	WHERE PLACE_SEQ=#{place_seq}
</update>

<select id="">
SELECT PLACE_SEQ, UUID_NAME, ORIGIN_NAME, IMG_URL, REVIEW_TITLE,CONTENT FROM REVIEWBOARD
</select>


</mapper>
