<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cp.tms.dto.ReviewDto">

<insert id="writeReveiw" parameterType="revDto">
	INSERT INTO REVIEWBOARD(PLACE_SEQ, UUID_NAME, ORIGIN_NAME, IMG_URL, CONTENT)
	VALUES(#{place_seq},#{uuid_name}, #{origin_name},#{img_url},#{content})
</insert>

<update id="modifyReview" parameterType="revDto">
	UPDATE REVIEWBOARD
	SET UUID_NAME=#{uuid_name}, ORIGIN_NAME=#{origin_name}, IMG_URL=#{img_url}, CONTENT=#{content}
	WHERE PLACE_SEQ=#{place_seq}
</update>

<update id="deleteReview" parameterType="java.lang.String">
	DELETE FROM REVIEWBOARD
	WHERE PLACE_SEQ=#{place_seq}
</update>
  
<select id="reviewList" parameterType="java.lang.String" resultType="revDto"> 
	SELECT PLACE_SEQ, UUID_NAME, ORIGIN_NAME, IMG_URL, CONTENT FROM REVIEWBOARD
	WHERE PLACE_SEQ=#{place_seq}
</select>

<select id="oneBoardList" resultType="oDto">
	SELECT ONEDAY_SEQ, NOTE_SEQ, ONEDAY_DELFLAG, ONEDAY_TITLE, ONEDATE, REPORTCHK, ONE_READCNT, ONEDAY_PUBLIC
	FROM TRIP.ONEDAY
	WHERE ONEDAY_DELFLAG = 'N' AND ONEDAY_PUBLIC = 'Y'
	ORDER BY ONEDATE DESC
</select>


</mapper>
